{% extends 'base.html.twig' %}

{% block title %}
{{user.username}} Profile
{% endblock %}

{% block body %}
<div class="container" style="width: 60%">
  <div class="row">
    <div class="col-md-4">
      <img src="{{vich_uploader_asset(user.profile, 'imageFile')}}" class="rounded-circle mt-4" style="width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;" />
    </div>
    <div class="col-md-8 pt-2 pl-2">
      <div>
        <h1>
          {{user.profile.name}}
        </h1>
      </div>
      <div class="d-flex">
        <div>
          <strong>153</strong> posts
        </div>
        <div class="pl-5 pr-5">
          <strong>{{user.profile.followers | length}}</strong> followers
        </div>
        <div>
          <strong>{{user.profile.following | length}}</strong> following
        </div>
      </div>
      <div class="pt-3">
        <strong>{{user.profile.bio}}</strong>
      </div>
      <div>
        <a href="{{user.profile.website}}" target="_blank">
          <strong>{{user.profile.website}}</strong>
        </a>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-4">
      <img
        src="https://instagram.ftun10-1.fna.fbcdn.net/v/t51.2885-15/e15/c180.0.719.719a/s640x640/79477092_608098273293344_5068264362374774313_n.jpg?_nc_ht=instagram.ftun10-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=OD8LyGcW520AX8R36qw&oh=ccb1d274dc883c7c26e2042b1f9f4a25&oe=5ED758C5"
        class="w-100" />
    </div>
    <div class="col-4">
      <img
        src="https://instagram.ftun10-1.fna.fbcdn.net/v/t51.2885-15/e15/c180.0.719.719a/s640x640/78786296_148665053211981_2643373042070107746_n.jpg?_nc_ht=instagram.ftun10-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=dP6RsQfgrH4AX8z8lnP&oh=aa55c616308d5ee169ba08fc3c85b825&oe=5EDB41CD"
        class="w-100" />
    </div>
    <div class="col-4">
      <img
        src="https://instagram.ftun10-1.fna.fbcdn.net/v/t51.2885-15/e15/c180.0.719.719a/s640x640/79477092_608098273293344_5068264362374774313_n.jpg?_nc_ht=instagram.ftun10-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=OD8LyGcW520AX8R36qw&oh=ccb1d274dc883c7c26e2042b1f9f4a25&oe=5ED758C5"
        class="w-100" />
    </div>
  </div>
</div>
{% endblock %}